<footer>
  <div class="container">
    <div class="navBar">
      <ul>
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="#">ABOUT</a></li>
        <li><a routerLink="#">CONTACT US</a></li>
      </ul>
    </div>
    <div class="textArea">
      <h1>Designed with<span class="red"> ❤</span> by
        <a routerLink="#"><span class="colored">Muki</span></a> | Distributed by
        <a routerLink="#"><span class="colored">Muksin</span></a>
      </h1>
    </div>
  </div>
</footer>
