<header>
  <div class="container">
    <div class="logoArea">
      <a routerLink="/" class="image"><img src="../../../assets/logo.png"></a>
      <a routerLink="/" class="siteName">
        <h1><span class="highlight">Game</span> Store</h1>
      </a>
    </div>
    <div class="menuArea" (click)="navToggle()">
      <div class="menuBtn">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
    <div class="navBar">
      <ul (click)="navCloser()">
        <li><a routerLink="/" class="active">🏠Home</a></li>
        <li><a routerLink="/games/action">🏹Action</a></li>
        <li><a routerLink="/games/adventure">🔑Adventure</a></li>
        <li><a routerLink="/games/simulation">💃Simulation</a></li>
        <li><a routerLink="/games/survival">🌴Survival</a></li>
        <li><a routerLink="/games/sports">⚽Sports</a></li>
        <li><a routerLink="/games/racing">🚗Racing</a></li>
        <li><a routerLink="/games/horror">💀Horror</a></li>
        <ng-container *ngIf="isLoggedIn">
          <li *ngIf="isAdmin || isCreator"><a routerLink="/game/create">✍🏻Create post</a></li>
          <li><a (click)="signOut()">🚪LogOut</a></li>
          <li><a [routerLink]="['/users/profile', loggedUserData.id]">👨‍💻My Profile</a></li>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <li><a routerLink="/users/login">🔑LogIn</a></li>
          <li><a routerLink="/users/register">✍🏻Register</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</header>
