<app-error [errorMessage]="errorMessage"></app-error>
<main id="main">
  <div class="main-container">
    <div class="sideBar">
      <div class="sideBar-container" *ngIf="profileData">
        <img src="{{profileData.image}}" alt="">
        <h1>{{ profileData.username }}</h1>
        <h2>{{ profileData.email}}</h2>
        <h2 *ngIf="isYourProfile == true">💵Balance: {{profileData.balance}}$</h2>
        <p>{{profileData.title}}</p>
      </div>
    </div>
    <section>
      <div class="myGamesArea">
        <h1>Purchased Games</h1>
        <hr>
        <div class="postContainer" *ngIf="purchasedGames">
          <div class="post" *ngFor="let purchasedGames of purchasedGames">
            <a [routerLink]="['/game', purchasedGames.id]"><img src="{{purchasedGames.image}}"></a>
            <a [routerLink]="['/game', purchasedGames.id]">
              <h2>{{purchasedGames.name}}</h2>
            </a>
          </div>
        </div>
        <div class="noGames" *ngIf="purchasedGames.length==0">
          <h2>No Games</h2>
        </div>
      </div>
      <div class="settingsArea" *ngIf="isYourProfile == true">
        <h1>Settings</h1>
        <hr>
        <div class="settings">
          <form (ngSubmit)="saveSettings()" [formGroup]="editProfileForm" *ngIf="profileData">
            <div class="row">
              <h2>User name: </h2>
              <input type="text" formControlName="username" name="username" required minlength="3">
              <div class="validation"
                *ngIf="editProfileForm.controls['username'].invalid && (editProfileForm.controls['username'].dirty || editProfileForm.controls['username'].touched)">
                <div *ngIf="editProfileForm.controls['username'].hasError('required')">Username is required.</div>
                <div *ngIf="editProfileForm.controls['username'].hasError('minlength')">Username must be at least 3
                  characters.</div>
              </div>
            </div>
            <div class="row">
              <h2>Profile Photo: </h2>
              <input type="text" formControlName="image" name="image" required pattern="^(https?:\/\/).*$">
              <div class="validation"
                *ngIf="editProfileForm.controls['image'].invalid && (editProfileForm.controls['image'].dirty || editProfileForm.controls['image'].touched)">
                <div *ngIf="editProfileForm.controls['image'].hasError('required')">Image URL is required.</div>
                <div *ngIf="editProfileForm.controls['image'].hasError('pattern')">Url must start with 'http://' or
                  'https://'.</div>
              </div>
            </div>
            <div class="row">
              <h2>Profile Title: </h2>
              <textarea formControlName="title" name="title"></textarea>
            </div>
            <button class="submitBtn" type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
