<div class="error" *ngIf="errorMessage">
  <div class="errorBox">
    <div class="container">
      <h1>{{errorMessage}}</h1>
    </div>
  </div>
</div>

<main>
  <div class="main-container">
    <div class="login-box">
      <h1 class="formName">Login</h1>
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <label>Email</label>
        <input type="email" formControlName="email" name="email" required email />
        <div class="validation"
          *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
          <div *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</div>
          <div *ngIf="loginForm.controls['email'].hasError('email')">Invalid email format.</div>
        </div>
        <label>Password</label>
        <input type="password" formControlName="password" name="password" minlength="6" required />
        <div class="validation"
          *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
          <div *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</div>
          <div *ngIf="loginForm.controls['password'].hasError('minlength')">Password must be at least 6 characters.
          </div>
        </div>
        <button class="submitBtn" type="submit">Login</button>
      </form>
      <p class="login-register">
        Not have an account? <a routerLink="/users/register">Register Here</a>
      </p>
    </div>
  </div>
</main>
