<app-error [errorMessage]="errorMessage"></app-error>
<main>
  <div class="main-container">
    <div class="signup-box">
      <h1 class="formName">Register</h1>
      <form (ngSubmit)="register()" [formGroup]="registerForm">
        <label>Username</label>
        <input type="text" formControlName="username" minlength="3" required />
        <div class="validation"
          *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
          <div *ngIf="registerForm.controls['username'].hasError('required')">Username is required.</div>
          <div *ngIf="registerForm.controls['username'].hasError('minlength')">Username must be at least 3 characters.
          </div>
        </div>

        <label>Email</label>
        <input type="email" formControlName="email" required />
        <div class="validation"
          *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
          <div *ngIf="registerForm.controls['email'].hasError('required')">Email is required.</div>
          <div *ngIf="registerForm.controls['email'].hasError('email')">Invalid email format.</div>
        </div>

        <label>Password</label>
        <input type="password" formControlName="password" minlength="6" required />
        <div class="validation"
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
          <div *ngIf="registerForm.controls['password'].hasError('required')">Password is required.</div>
          <div *ngIf="registerForm.controls['password'].hasError('minlength')">Password must be at least 6 characters.
          </div>
        </div>

        <label>Confirm Password</label>
        <input type="password" formControlName="repassword" minlength="6" required />
        <div class="validation"
          *ngIf="registerForm.controls['repassword'].invalid && (registerForm.controls['repassword'].dirty || registerForm.controls['repassword'].touched)">
          <div *ngIf="registerForm.controls['repassword'].hasError('required')">Confirm Password is required.</div>
          <div *ngIf="registerForm.controls['repassword'].hasError('minlength')">Confirm Password must be at least 6
            characters.</div>
        </div>

        <button class="submitBtn" type="submit">Register</button>
      </form>
      <p class="login-register">
        Already have an account? <a routerLink="/users/login">Login here</a>
      </p>
    </div>
  </div>
</main>
