<main>
  <div class="container">
    <div class="signup-box">
      <h1 class="formName">Register</h1>
      <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" required placeholder="" />
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" required placeholder="" />
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" minlength="6" required placeholder="" />
        <label>Confirm Password</label>
        <input type="password" [(ngModel)]="repassword" name="repeatPassword" minlength="6" required placeholder="" />
        <button class="submitBtn" type="submit">Register</button>
      </form>
      <p class="login-register">
        Already have an account? <a routerLink="/users/login">Login here</a>
      </p>
    </div>
  </div>
</main>
