<div id="banner">
  <div class="container">
    <div class="textArea">
      <h1><span class="highlight">Game</span> Store</h1>
      <p>Welcome to our website. On this site you can buy and download the popular games for low price. If you like the
        page, you can follow it!</p>
      <a href="#main"><button class="btn">Get Started</button></a>
    </div>
  </div>
  <svg class="banner-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
    <path fill="#f8f8f8" fill-opacity="1"
      d="M0,96L120,122.7C240,149,480,203,720,218.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
    </path>
  </svg>
</div>
