<main>
  <div class="container">
    <div class="create-box">
      <h1 class="formName">Create Game</h1>
      <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
        <label>Name</label>
        <input type="text" [(ngModel)]="newGame.name" name="name" required placeholder="" />
        <label>Game Type</label>
        <select name="type" [(ngModel)]="newGame.type" required>
          <option disabled selected value="">Select Game Type</option>
          <option value="action">Action</option>
          <option value="adventure">Adventure</option>
          <option value="simulation">Simulation</option>
          <option value="survival">Survival</option>
          <option value="sports">Sports</option>
          <option value="racing">Racing</option>
          <option value="horror">Horror</option>
        </select>
        <label>Image URL</label>
        <input type="text" [(ngModel)]="newGame.image" name="image" required placeholder="">
        <label>Description</label>
        <textarea [(ngModel)]="newGame.description" name="description" required></textarea>
        <button class="submitBtn" type="submit">Create Game</button>
      </form>
    </div>
  </div>
</main>
